**/node_modules
**/.next
**/.git
**/.gitignore
**/*.log
**/*.env
docs
workspace
infra/mongo-data
infra/redis-data
infra/monitoring
scripts
config
temp
tmp
package-lock.json
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*
**/.DS_Store
dist
build
.vscode
.idea
